# Eclipse
.classpath
.project
.settings/
src/main/java/rough
src/test/java/com/github/jacoberson/utilities/cookieFiles
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# TestNG
test-output/